@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Sawarabi+Mincho|Source+Code+Pro:400,700&subset=japanese,latin-ext');
/*
font-family: 'Sawarabi Mincho', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Source Code Pro', monospace;
*/


/* 印刷することしか考えてないので、現状 @maedia print でくくるなどしていない */

/* footnote */
span.footnote {
  float: footnote;
  counter-increment: footnote;
}

span.footnote::footnote-call,
span.footnote::footnote-maker {
  content: '[' counter(footnote) ']';
}

body.main h1,
body.main h2,
body.main h3,
body.main h4,
body.main h5,
body.main h6 {
  font-family: "Noto Sans Japanese";
}


body.main h1 { font-size: 28pt; }
body.main h2 { font-size: 24pt; }
body.main h3 { font-size: 20pt; }
body.main h4 { font-size: 16pt; }
body.main h5 { font-size: 16pt; }
body.main h6 { font-size: 16pt; }

/* footnote */


@page { 
  margin: 0mm;
  size: B5 portrait;
}

body {
  filter: grayscale(100%);
  margin: 0mm;
}

body.main {
  font-size: 12pt;
}
body.main p {
  font-size: 12pt;
  line-height: 200%;
  letter-spacing: 110%;

  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


body.main blockquote {
  font-style: italic;
}

div.right-justify {
  text-align: right;
}


/* 定義リスト用 */
dl > dt {
  font-weight: bold;
  font-family: "Noto Sans Japanese";
}
dl > dd {
  font-weight: normal;
  font-family: "Sawarabi Mincho";
}



/* 章や節に自動的に番号をふる */
body {
  counter-reset: chapter section subsection;
}
h1.counting { counter-reset: section subsection figcount; }
h2.counting { counter-reset: subsection; }

h1.counting:before {
  counter-increment: chapter;
  content: "第" counter(chapter) "章 ";
}
h2.counting:before {
  counter-increment: section;
  content: counter(chapter) "." counter(section) ". ";
}
h3.counting:before {
  counter-increment: subsection;
  content: counter(chapter) "." counter(section) "." counter(subsection) ". ";
}

/* 画像に自動的に番号をふる */
figure {
  text-align: center;
}
figure > img {
  counter-increment: figcount;
}
figure > figcaption {
  display: inline;
}
figure > figcaption::before {
  content: "図" counter(chapter) "." counter(figcount)
}


/* 追加したぶんここまで */

/* {{ 奥付用 */
div.imprint {
  width: 80%;
  text-align: center;
  background-color:  #EFEFEF;
  padding: 1em;
  margin: 1em auto 1em auto;
}
/* }} */


* {
  vertical-align: bottom;
  line-height: 200%;
  font-family: "Sawarabi Mincho", 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
}

body.main   { width: 100%; }
body.main * { page-break-inside: auto !important; }

body.main div.pagebreak {
  page-break-before: always;
  height:  1px;
  padding: 0px;
  margin: 0px;
}

body.main br {
  line-height: 100%;
  page-break-before: always;
}

body.main h1 {
  page-break-before: left;
  border-bottom: 0.5mm solid #0000ff;
}

body.main h2 {
  border-left : 10pt solid #0000ee;
  padding-left : 10pt;
}


body.main h1,
body.main h2,
body.main h3,
body.main h4,
body.main h5,
body.main h6 {
  font-family: "Noto Sans JP";
}


body.main img {
  max-width: 100%;
}

body.main table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #000000;
}

body.main table td {
  padding: 2mm;
  border: 1px solid #000000;
  vertical-align: top;
}

body.main table th {
  text-align: center;
  padding: 2mm;
  border: 1px solid #000000;
}

body.main pre {
  padding: 5mm;
  background-color: #EFEFEF;
  /* overflow-wrap: break-word; */
  /* word-break: break-all; */
  /* white-space: normal; */
}


body.main pre > code {
  padding: 1mm;
  font-family: 'Source Code Pro', monospace;
  overflow-wrap: break-word;
  /* word-break: break-all; */
  /* font-weight: 900; */
  white-space: pre-wrap;
}


body.main p > code {
  font-family: 'Source Code Pro', monospace;
  font-weight: 900;
  padding: 1mm;
  padding-left: 2mm;
  padding-right: 2mm;
}


/* footnote */
span.footnote {
  float: footnote;
  counter-increment: footnote;
}

span.footnote::footnote-call,
span.footnote::footnote-maker {
  content: '[' counter(footnote) ']';
}